<div class="my-3">
  <h4 [ngClass]="{ strike: !todo.active }">{{ todo.title }}</h4>
  <p [ngClass]="{ strike: !todo.active }">{{ todo.desc }}</p>
  <div class="form-check mb-2">
    <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="flexCheckChecked{{i}}"
        (click)="onClickCheckBox(todo)"
        [checked] = "!todo.active"
      />
    <label class="form-check-label" for="flexCheckChecked{{i}}"> Done </label>
  </div>
  <button class="btn btn-danger" (click)="onClickDelete(todo)">Delete</button>
</div>
